/* ========================================
   MRS WORKS
   Common Styles
======================================== */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #f5f5f5;
    color: #222;
}

/* ========================================
   App
======================================== */

#app {
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
   
       /* 固定広告によるコンテンツ隠れ防止 */
    padding-bottom: 100px;
}

/* ========================================
   Buttons
======================================== */

button {
    cursor: pointer;
}

/* ========================================
   Responsive
======================================== */

@media (max-width: 600px) {

    #app {
        padding: 15px;
    }

}

/* ========================================
   Fixed Advertisement
======================================== */

.ad-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212;

    z-index: 1000;

    padding-top: 1px;
    padding-bottom: calc(1px + env(safe-area-inset-bottom));

    border-top: 1px solid #333;
}
